body {
	background: #FFA500;
	position: relative;
}
#image {
	opacity: 100%;
	max-width: 100%;
	height: auto;
}
#img {
  	background-color: #ff8c00;
}
#txt {
	font-size: 6vw;
	color: white;
	-webkit-text-stroke-width: 0.1vw;
	-webkit-text-stroke-color: black;
	font-family: 'Century Gothic',sans-serif;
}
#form {
	background: #e09100;
	margin-top: 100px;
	padding: 10px;
	margin-top: 100px;
}
#form h2{
	position: absolute;
	color: white;
	left: auto;
	right: auto;
	top: auto;
	font-size: 2vw;
}
#form * {
	margin: 5px;
}
.textbox {
	height: 4vw;
	width: 30vw;
	font-size: 15px;
	border-radius: 15px;
	overflow: hidden;
	border: 2px solid transparent;
}
#youtubevid {
	width: 60vw;
	height: 35vw;
	display: none;
}
button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  transition-duration: 0.4s;
  width: 20vw;
  height: 80px;
  cursor: pointer;
  background-color: transparent;
  font-size: 3vw;
  color: #4CAF50;
  display: none;
}
button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
p {
	font-size: 20px;
}
#check {
	font-size: 1.5vw;
	width: 10vw;
	height: 40px;
	color: black;
	display: block;

}
#genLink {
	color: green;
	display: none;
}
#check:hover {
	background-color: #4CAF50; /* Green */
    color: white;
}
#copy-button {
	cursor: pointer;
	display: none;
}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: yellow;
   color: green;
   text-align: center;
}
footer p {
	display: inline;
	font-size: 1.4vw;
}
footer a {
	cursor: pointer;
}
#credits {
	color: blue;
}
@media only screen and (max-width: 705px) {
  /* For mobile phones: */
  #form h2 {
 	font-size: 7vw;
  	position: relative;
  }
  a#github {
    visibility: hidden
  }
  #txt {
  	font-size: 10vw;
  }
  .textbox {
  	width: 60vw;
  }
  button {
  	height: 15vw;
  	width: 30vw;
  	font-size: 6vw;
  }
  #youtubevid {
	width: 85vw;
	height: 50vw;
	display: none;
   }
   #check {
   	width: 13vw;
   	font-size: 2.5vw;
   }
}










.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: block;
  z-index: 1;
  bottom: 100%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}